.logo {
    height: 20%;
    margin: 16px;
    background: url(../image/logo.jpg);
}
  
.site-layout .site-layout-background {
    background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
}
.site-page-header {
        border: 100% solid rgb(235, 237, 240);
}

.login-form{
    margin: auto;
    
}

.button{
    margin: auto;
    
}