.bodyRegister{
	margin: auto;
	height:620px;
	width:100%;
	overflow:hidden;
	display:flex;
	align-items:center;
	color:black;
	background-color:#fff;
	justify-content:center;
	background-image: url("https://wallpaperaccess.com/full/3059655.jpg");
	background-size: cover;
}

.city{
	position: relative;
}

::placeholder{
	color: #663300;
	font-weight: bold;
}

.main{
	width: 400px;
	height:730px;
	padding:10px 25px 35px 35px;
	margin-left: -100px;
	margin-top: 100px;
	border-radius:20px;
	font-family:sans-serif;
	font-weight:700;
}

.title{
	text-align:center;
	font-size:40px;
	color:black;
	letter-spacing:.5px;
	margin:px;
	font-family: gotham;
}
.credentials{
	width:100%;
	padding:2px 5px 0px 5px;
}
.credentials input{
	border:none;
	outline:none;
	background:none;
	font-size:18px;
	color:black;
	padding:20px 10px 20px 5px;
	letter-spacing: 1px;
}
.username{
	margin-bottom:20px;
	border-bottom:2px solid black;
	transition:.5s ease;
}
.username:hover{
	border-bottom:3px solid black;
}
.phone{
	margin-bottom:20px;
	border-bottom:2px solid black;
	transition:.5s ease;
}
.phone:hover{
	border-bottom:3px solid black;
}
.email{
	margin-bottom:20px;
	border-bottom:2px solid black;
	transition:.5s ease;
}
.email:hover{
	border-bottom:3px solid black;
}
.city{
	margin-bottom:20px;
	border-bottom:2px solid black;
	transition:.5s ease;
}
.city:hover{
	border-bottom:3px solid black;
}
.password{
	margin-bottom:30px;
	border-bottom:2px solid black;
	transition:.5s ease;
}
.password:hover{
	border-bottom:3px solid black;
}
.submit{
	outline:none;
	border:none;
	width:100%;
	height:60px;
	border-radius:30px;
	color:#fff;
	font-size:20px;
	font-weight:700;
	text-align:center;
	background-image:linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%);
	background-size:200%;
	box-shadow: 3px 3px 8px #b1b1b1,
				-3px -3px 8px #fff;
	transition:.5s;
}
.submit:hover{
	background-position:right;
}
.link{
	text-align:center;
	display: flex;
	
}

.distance{
	margin-right:50px;
	margin-left: 35px;

}
.link a{
	color : chartreuse;
	font-size: 15px;
	text-decoration: underline;
}