header{
	width: 100%;
	height: 8%;
	background-color: rgb(240, 169, 184);
	
	
}

x
body{
	font-family: 'Poppins', sans-serif;
	/* background-color: rgb(255, 236, 239); */
	background: url('./bg1.png') no-repeat cover;
	
}

footer{
	width: 100%;
	height: 5%;
	background-color: rgb(182, 232, 255);
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

.distance-btn{
	margin-left:200px;
}
.btn{

	border: white solid 1px;
	border-radius: 100px;
	
}

.btn-size{
	width: 15px;
	height: 15px;
}
.dropdown-container{
	display: flex;
	flex-direction: row;
	
}

.pos{
	margin: 0 0 0 500px;
}

.dropdown-nav{
	background-color: rgb(255, 211, 182);
	
}

.flex-item{
	
	margin-right: 100px;
}

a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

/* Side Bar*/
#sidebar.active {
    margin-left: -250px;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
	width: 100%;
	height: 800px;
	/* background-color: rgb(255, 236, 239); */
}


#sidebar{
	min-width: 250px;
	max-width: 250px;
	background: rgb(255, 165, 104);
	color: #fff;
	transition: all 0.3s;
}


#sidebar .sidebar-header{

	padding: 20px;
	background: rgb(255, 165, 104);
}
#sidebar ul.components{
	padding: 20px 0;
	border-bottom: 1px solid rgb(255, 111, 16);
}

#sidebar ul p{
	color: #fff;
	padding: 10px;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover{
	color: rgb(255, 165, 104);
	background: #fff;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: rgb(255, 165, 104);
}

a[data-toggle="collapse"]{
	position: relative;
}
.nav-link{
	position: absolute;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: rgb(255, 165, 104);
}

#content{
	width: 80%;
	padding: 20px;
	min-height: 50vh;
	transition: all 0.3s;
}

#footer{
	font-size: 100%;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}







