h4{
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.btn-primary{
    color: black;
    background-color: rgb(240, 169, 184);
    font-weight: bold;
}

th{
    color: red;
    background-color: rgb(240, 169, 184);
}

.input-group-text{
    color: black;
    background-color: rgb(240, 169, 184);
    font-weight: bold;
}

.head{
	width: 100%;
	height: 8%;
	background-color: rgb(240, 169, 184);
	
}

x
body{
	font-family: 'Poppins', sans-serif;
}

footer{
	width: 100%;
	height: 5%;
	background-color: rgb(182, 232, 255);
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

.distance-btn{
	margin-left:200px;
}

.btn{

	border: white solid 1px;
	border-radius: 100px;
}

.btn-size{
	width: 15px;
	height: 15px;
}
.dropdown-container{
	display: flex;
	flex-direction: row;
	
}

.pos{
	margin: 0 0 0 550px;
}

.dropdown-nav{
	background-color: rgb(255, 211, 182);
}

.flex-item{
	
	margin-right: 100px;
}

a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}


.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
	width: 100%;
	height: 800px;
	/* background-color: rgb(255, 236, 239); */
}





a[data-toggle="collapse"]{
	position: relative;
}
.nav-link{
	position: absolute;
}

#content{
	width: 80%;
	padding: 20px;
	min-height: 50vh;
	transition: all 0.3s;
}

#footer{
	font-size: 100%;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.register{
	margin: 5% 20% 0 25% ;
    height:620px;
    width:60%;
    overflow:hidden;
    display:flex;
    align-items:center;
    color:black;
    justify-content:center;
    
}
.bodyRegister{
    margin: 7% 10% 0 10% ;
    height:620px;
    width:85%;
    overflow:hidden;
    display:flex;
    align-items:center;
    color:black;
    justify-content:space-around;
    background-color: rgba(255, 255, 255, 0.7);
	
}

.city{
    position: relative;
}

::placeholder{
    color: rgb(96, 205, 255);
    font-weight: bold;
}

.main{
    width: 400px;
    height:730px;
    padding:10px 25px 35px 35px;
    margin-left: -100px;
    margin-top: 100px;
    border-radius:20px;
    font-family:sans-serif;
    font-weight:700;
}

.title1{
	text-align:center;
    font-size:40px;
    color: rgb(96, 205, 255) ;
    letter-spacing:.5px;
    font-family: gotham;
	margin-top: 50px;
}
.title{
    text-align:center;
    font-size:40px;
    color: rgb(96, 205, 255) ;
    letter-spacing:.5px;
    font-family: gotham;
}
.credentials{
    width:100%;
    padding:2px 5px 0px 5px;
}
.credentials input{
    border:none;
    outline:none;
    background:none;
    font-size:18px;
    color:rgb(240, 169, 184);
    padding:20px 10px 20px 5px;
    letter-spacing: 1px;
}
.username{
    margin-bottom:20px;
    border-bottom:2px solid rgb(240, 169, 184);
    transition:.5s ease;
}
.username:hover{
    border-bottom:3px solid rgb(182, 232, 255);
}
.phone{
    margin-bottom:20px;
    border-bottom:2px solid rgb(240, 169, 184);
    transition:.5s ease;
}
.phone:hover{
    border-bottom:3px solid rgb(182, 232, 255);
}
.email{
    margin-bottom:20px;
    border-bottom:2px solid rgb(240, 169, 184);
    transition:.5s ease;
}
.email:hover{
    border-bottom:3px solid rgb(182, 232, 255);
}
.city{
    margin-bottom:20px;
    border-bottom:2px solid rgb(240, 169, 184);
    transition:.5s ease;
}
.city:hover{
    border-bottom:3px solid rgb(182, 232, 255);
}
.password{
    margin-bottom:30px;
    border-bottom:2px solid rgb(240, 169, 184);
    transition:.5s ease;
}
.password:hover{
    border-bottom:3px solid rgb(182, 232, 255);
}
.submit{
    outline:none;
    border:none;
    width:100%;
    height:60px;
    border-radius:30px;
    color:#fff;
    font-size:20px;
    font-weight:700;
    text-align:center;
    background-image:linear-gradient(to right, rgb(182, 232, 255) 0%, rgb(240, 169, 184) 51%, rgb(182, 232, 255) 100%);
    background-size:200%;
    box-shadow: 3px 3px 8px whitesmoke,
                -3px -3px 8px #fff;
    transition:.5s;
}
.submit:hover{
    background-position:right;
}
.link{
    text-align:center;
    display: flex;
    
}

.distance{
    margin-right:50px;
    margin-left: 35px;

}
.link a{
    color : rgb(236, 135, 157);
    font-size: 15px;
    text-decoration: underline;
}






